/* My html is the setup and its black in color. */
html {
  color: black;
}
/* My head is black in color. */
head {
  color: black;
}
/* My meta is black in color. */
meta {
  color: black;
}
/* My title is black in color for visible eye sight. */
title {
  color: black;
}
/* My link is black and color and connects my ccs to my html file. */
link {
  color: black;
}
/* My body is black in color elements will be addeed. */
body {
  color: black;
}
/* My header keeps all links and webpages connected. */
header {
  color: black;
}
/* My nav is black in color. */
nav {
  color: black;
}
/* My ul is black in color. */
ul {
  color: black;
}
/* My li is black in color. */
li {
  color: black;
}
/* My a is blue in color to find the link. */
a {
  color: blue;
}
/* My footer is black in color. */
footer {
  color: black;
}
/* My p is black in color for paragraghs. */
p {
  color: black;
}
/* My h1 is black in color for visible eye sight. */
h1 {
  color: black;
}
/* My main is black in color for visible eye sight. */
main {
  color: black;
}
/* My forms are black in color for visible eye sight. */
form {
  color: black;
}
/* My label is black in color so the eyes can see the username. */
label {
  color: black;
}
/* My input is black in color so you can see the type, id, name, and placeholder with ease. */
input {
  color: black;
}
/* My br is black in color and keep my page organized. */
br {
  color: black;
}
/* My select is black in color so anyone can see the country. */
select {
  color: black;
}
/* My option is black in color for visible eye sight. */
option {
  color: black;
}
/* My textarea is black in color and keeps my id, name, rows and cols visible to the eye sight. */
textarea {
  color: black;
}
