/* My html is black in color. */
html {
  color: black;
}
/* My head is black in color. */
head {
  color: black;
}
/* My meta is black in color. */
meta {
  color: black;
}
/* My title is black in color. */
title {
  color: black;
}
/* My link is black in color. */
link {
  color: black;
}
/* My link is black in color. */
link {
  color: black;
}
/* My body is black in color. */
body {
  color: black;
}
/* My header is black in color. */
header {
  color: black;
}
/* My nav is black in color. */
nav {
  color: black;
}
/* My ul is black in color. */
ul {
  color: black;
}
/* My li is black in color. */
li {
  color: black;
}
/* My a is blue in color so that it can be visible to th eye sight. */
a {
  color: blue;
}
/* My footer is black in color. */
footer {
  color: black;
}
/* My p is black in color so that in can be visible to the eye. */
p {
  color: black;
}
/* My h1 is black in color so that it can be visible to the eye. */
h1 {
  color: black;
}
/* My h2 is black in color so that it can be visible to the eye. */
h2 {
  color: black;
}
/* My main is black in color so that in can be visible tot he eye. */
main {
  color: black;
}
