/* My html is black in color. */
html {
  color: black;
}
/* My head is black in color so that the code could be visible. */
head {
  color: black;
}
/* My meta is black in color. */
meta {
  color: black;
}
/* My title is black in color so that can be visible to the eye sight. */
title {
  color: black;
}
/* My link is black in color this connect my html to my css. */
link {
  color: black;
}
/* My body is black in color. */
body {
  color: black;
}
/* My header is black in color. */
header {
  color: black;
}
/* My nav is black in color. */
nav {
  color: black;
}
/* My ul is black in color. */
ul {
  color: black;
}
/* My li is black in color. */
li {
  color: black;
}
/* My a is blue in color so that it can be visible to the eye. */
a {
  color: blue;
}
/* My main is black in color. */
main {
  color: black;
}
/* My footer is black in color. */
footer {
  color: black;
}
/* My h1 is black in color for media. */
h1 {
  color: black;
}
/* My h2 is black in color. */
h2 {
  color: black;
}
/* My p is black in color so that my paragraghs could be easy to read. */
p {
  color: black;
}
/* My section is black in color. */
section {
  color: black;
}
/* My audio is black in color. */
audio {
  color: black;
}
/* My source is black in color. */
source {
  color: black;
}
/* My hr is black in color. */
hr {
  color: black;
}
/* My video is black in color. */
video {
  color: black;
}
